@{
    ViewData["Title"] = "Fale Conosco | Arena Festas & Eventos";
}
<h2>@ViewData["Title"]</h2>
<!-- <h3>@ViewData["Message"]</h3>  -->
<h4>Endereço: R. Porto Velho</h4>
<h4>Bairro: Três Irmãs</h4>
<h4>Cidade: Campina Grande - PB</h4>
<h4>Cep: 58423-006</h4>
<h5>Reservas pelos telefones</h5>
<h4>(83) 9 8889-6810 ou (83) 9 8837-1888 </h4>
<h5>Falar com Juliana</h5>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3957.924952810043!2d-35.9172414!3d-7.249382!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ac1dff8bd72367%3A0x46e0491c9a49b6f5!2sR.%20Porto%20Velho%2C%2040%20-%20Tr%C3%AAs%20Irm%C3%A3s%2C%20Campina%20Grande%20-%20PB%2C%2058423-006!5e0!3m2!1spt-BR!2sbr!4v1594556929373!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

