
@{
    ViewData["Title"] = "Menu";
}
<br />

<div class="row">
    <a href="../Fornecedor/Index">
        <div class="col-lg-3 text-center">
            <img src="~/images/Fornecedor.png" />
        </div>
    </a>
    <a href="../Cliente/Index">
        <div class="col-lg-3 text-center">
            <img src="~/images/Cliente.png" />
        </div>
    </a>
    <a href="../Departamento/Index">
        <div class="col-lg-3 text-center">
            <img src="~/images/Departamento.png" />
        </div>
    </a>
    <a href="../Produto/Index">
        <div class="col-lg-3 text-center">
            <img src="~/images/Produtos.png" />
        </div>
    </a>
</div>

<div class="row">
    <a href="../Fornecedor/Index">
        <div class="col-lg-3 text-center">
            <img src="~/images/Agenda.png" />
        </div>
    </a>
</div>